version: "3.8"

services:
   mysql:
     container_name: sql
     image: mysql
     ports:
       - "3306:3306"
     environment:
       MYSQL_ROOT_PASSWORD: root
       MYSQL_DATABASE: coding_cloud
       MYSQL_USER: admin
       MYSQL_PASSWORD: pritam45
     networks:
       - two-tier-net
     volumes:
       - sql-data:/var/lib/mysql
     healthcheck:
       test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-uroot", "-proot"]
       interval: 10s
       timeout: 5s
       retries: 5
       start_period: 60s

   node:
     container_name: node
     build:
       context: .
     ports:
       - "80:3000"
     environment:
       MYSQL_HOST: sql
       MYSQL_USER: root
       MYSQL_PASSWORD: root
       MYSQL_DB: coding_cloud
     networks:
       - two-tier-net
     depends_on:
       mysql:
         condition: service_healthy

volumes:
   sql-data:
     external: true

networks:
   two-tier-net:
     external: true
